<div class="jumbotron">
  <h1 class="display-4">Welcome to Rentl!</h1>
  <p class="lead">Rent premium vehicles in Melbourne.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Sign up</a>
    <a class="btn btn-danger btn-lg" href="#" role="button">Login</a>
  </p>
</div>