<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">Rentl</a>
  <form class="form-inline">
    <a class="btn btn-outline-primary" href="#" role="button">
    Login
    </a>
    <div style="padding-left: 10px;">
      <a class="btn btn-outline-success" href="#" role="button">
      Sign Up
      </a>
    </div>
  </form>
</nav>